<h1 mat-dialog-title>Detalle de Estudiante</h1>

<div mat-dialog-content>
  <div class="grid-container" [formGroup]="formStudent">
    <div class="item1">
      <img src="./assets/student.png" alt="Student">
    </div>

    <div>
      <mat-form-field>
        <input matInput placeholder="Nombre"
               formControlName="name"
               maxlength="50"
               autofocus required>
        <mat-error *ngIf="formStudent.get('name').hasError('required')">Campo requerido</mat-error>
        <mat-error *ngIf="formStudent.get('name').hasError('maxLength')">Campo requerido</mat-error>
      </mat-form-field>

      <mat-form-field>
        <input matInput placeholder="Apellido Paterno"
               formControlName="firtsName" required>
        <mat-error *ngIf="formStudent.get('firtsName').hasError('required')">Campo requerido</mat-error>
        <mat-error *ngIf="formStudent.get('firtsName').hasError('maxLength')">Campo requerido</mat-error>
      </mat-form-field>

      <mat-form-field>
        <input matInput placeholder="Apellido Materno"
               formControlName="lastName"
               maxlength="50" required>
        <mat-error *ngIf="formStudent.get('lastName').hasError('required')">Campo requerido</mat-error>
        <mat-error *ngIf="formStudent.get('lastName').hasError('maxLength')">Campo requerido</mat-error>
      </mat-form-field>

      <mat-form-field>
        <input matInput placeholder="Télefono"
               formControlName="phone"
               maxlength="13" required>
        <mat-error *ngIf="formStudent.get('phone').hasError('required')">Campo requerido</mat-error>
        <mat-error *ngIf="formStudent.get('phone').hasError('maxLength')">Campo requerido</mat-error>
      </mat-form-field>

      <mat-form-field>
        <input matInput placeholder="GPA"
               formControlName="gpa" required>
        <mat-error *ngIf="formStudent.get('gpa').hasError('required')">Campo requerido</mat-error>
        <mat-error *ngIf="formStudent.get('gpa').hasError('maxLength')">Campo requerido</mat-error>
      </mat-form-field>
    </div>

    <div>
      <ng-container formGroupName="address">
        <mat-form-field>
          <input matInput placeholder="Calle y número"
                 formControlName="street"
                 maxlength="50" required>
          <mat-error *ngIf="formStudent.get('address.street').hasError('required')">Campo requerido</mat-error>
          <mat-error *ngIf="formStudent.get('address.street').hasError('maxLength')">Campo requerido</mat-error>
        </mat-form-field>

        <mat-form-field>
          <input matInput placeholder="Ciudad"
                 formControlName="city"
                 maxlength="50" required>
          <mat-error *ngIf="formStudent.get('address.city').hasError('required')">Campo requerido</mat-error>
          <mat-error *ngIf="formStudent.get('address.city').hasError('maxLength')">Campo requerido</mat-error>
        </mat-form-field>

        <mat-form-field>
          <input matInput placeholder="Estado"
                 formControlName="state"
                 maxlength="50" required>
          <mat-error *ngIf="formStudent.get('address.state').hasError('required')">Campo requerido</mat-error>
          <mat-error *ngIf="formStudent.get('address.state').hasError('maxLength')">Campo requerido</mat-error>
        </mat-form-field>

        <mat-form-field>
          <input matInput placeholder="Código Postal"
                 formControlName="zipcode"
                 maxlength="5" required>
          <mat-error *ngIf="formStudent.get('address.zipcode').hasError('required')">Campo requerido</mat-error>
          <mat-error *ngIf="formStudent.get('address.zipcode').hasError('maxLength')">Campo requerido</mat-error>
        </mat-form-field>
      </ng-container>
    </div>
  </div>
</div>

<div mat-dialog-actions align="end">
  <button mat-button color="warn" mat-dialog-close>Cancelar</button>
  <button mat-button color="primary" (click)="updateDataOfStudent()">Actualizar</button>
</div>
