.container {
  margin: 0 2rem;
}

.row {
  display: block;
}

.content-buttons {
  float: right;
  margin: 1rem 0 0 0;
}
table {
  width: 100%;
}

.mat-form-field {
  width: 40%;
}

button {
  display: block;
  float: right;
}
